/* @font-face {
	font-family:"Source Han Sans CN";
  	src:url('../css/fontface/fonts/SourceHanSansCN-Normal.ttf');
  	src:url('../css/fontface/fonts/SourceHanSansCN-Normal.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;
} */
/* body{
	font-family: 'SimHei';
} */
#checkbox p{
	cursor:pointer;
}
.list1 .check_span{
	margin-top:12px;
}
.check_span{
	display:inline-block;
	float:left;
	border:1px solid #4ea3b3;
	width:17px;
	height:17px;
	text-align:center;
	margin-left:10px;
	margin-top:8px;
}
.check_span:hover{
	border-color:#fff
}
.check_span--checked{
	border-color:#fff;
	background:url('../images/icon_sprites.png') no-repeat;
	background-position: 1px 0;
}